@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro';
  line-height: 1.7;
/*   text-align: center; */
  color: #aaa;
  background: #eee;
}
a {
  color: #f30;
}

/* header,
footer,
.page [role=main] {
  position: relative;
  z-index: 1;
} */
header,
aside,
footer {
  color: #888;
}
.page {
  margin: 0 0 0 25%;
  min-height: 100%;
  text-align: left;
  padding: 100px 15% 0 2em;
  background: white;
  position: relative;
}
/* Logo */
#logo {
  font-family: Georgia;
  border: 3px solid #f30;
  display: inline-block;
  color: #f30;
  font-size: 1.5em;
  line-height: 0.75;
  padding: 0.25em 0.2em 0.3em;
  margin-left: -11px;
  margin-bottom: 0.75em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#logo small {
  display: block;
  font-size: 0.8em;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: Georgia;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
}
li {
  list-style: none;
}
ol,
ul,
p,
article {
  padding: 0 0 1em;
}

/* Menu "Pages" */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: -16em;
  width: 10em;
  padding: 2em;
  background: white;
}
header a {
  color: inherit;
  text-decoration: none;
}
header li {
  font-size: 1.5em;
  line-height: 1.4;
}


header nav,
header aside {
  margin-left: 11px;
}

header .active {
  background: white;
}
header a:hover,
header a:focus,
header .active a  {
    color: #f30!important;
}

/* Contenu principal */
.page section[role=main] {
  color: #000;
  min-width: 700px;
  min-height: 60%;
}
section>h2 {
  padding: 0 0 1.5em;
}
section[role=main] h1,
section[role=main] aside {
  clear: both;
  position: fixed;
  background: rgba(255,255,255,0.95);
  top: 0;
  right: 0;
  box-sizing: border-box;
  left: 25%;
  text-align: center;

  min-width: 520px;
  min-height: 2em;

  font-family: Georgia;
  font-weight: normal;

  font-size: 2em;
  color: #f30;
}
.paginate-menu {
  font-size: 0.5em;
  padding: 0;
}

.paginate-menu li {
  display: inline-block;
  color: #000;
}
#goto_next {
  position: absolute;
  right: 0;
  padding-right: 1em;
}
#goto_prev {
  position: absolute;
  left: 0;
  float: left;
}

section aside li {
  line-height: 4;
}
section aside a {
  padding: 0 0.5em;
  display: inline-block;
  color: black;
}

.list-item {
  overflow: hidden;
  padding-bottom: 2em;
}
.list-item figure {
  float: left;
  margin-right: 2em;
  max-width: 500px;
  width: 40%;
}
.list-item figure img {
  width: 100%;
}
.list-item p {
  display: inline-block;
  width: 50%;
}

#article-content h2 {
  font-size: 1em;
  padding: 1.5em 0 0.5em;
  line-height: 1.25;
}
#article-content article {
  margin-top: 2em;
}
#article-content figure {
  text-align: center;
  overflow: hidden;
}
#article-content figure img {
  display: block;
  float: left;
}
#disqus_thread {
  margin: 2em 0 0;
  max-width: 800px;
}

/* Footer */
footer {

  padding-top: 2em;
  padding-bottom: 2em;
}

footer .bloc{
  padding-bottom: 2em;
}
.copyright {
  font-size: 0.9em;
}
.copyright li {
  display: inline-block;
}
footer a {
  color: #666;
}
footer h2 {
  color: #ddd;
}
footer p {
  clear: both;
}




@media screen and (max-width: 1100px) {

}
@media screen and (min-width:1500px) {
  body {
  }
  #article-content article {
    width: 50%;
  }
  #article-content aside {
    right: 40%
  }
  #article-content figure {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    overflow: auto;
  }
  #article-content img {
    min-width: 50%;
  }
  #disqus_thread,
  footer {
    width: 50%;
  }
}