@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro';
  line-height: 1.7;
  color: #aaa;
  background: #fafafa;
  min-width: 500px;
}
a {
  color: #f30;
}

/* header,
footer,
.page [role=main] {
  position: relative;
  z-index: 1;
} */
header,
aside,
footer {
  color: #888;
}
header,
.page {
  background: white;
}
.page {
  margin: 0 0 0 25%;
  min-height: 100%;
  text-align: left;
  padding: 100px 15% 0 2em;
  position: relative;
}
/* Logo */
#logo {
  font-family: Georgia;
  border: 3px solid #f30;
  display: inline-block;
  color: #f30;
  font-size: 1.5em;
  line-height: 0.75;
  padding: 0.25em 0.2em 0.3em;
  margin-left: -11px;
  margin-bottom: 0.75em;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#logo small {
  display: block;
  font-size: 0.8em;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
nav a {
  font-family: Georgia;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
}
li {
  list-style: none;
}
ol,
ul,
p,
article {
  padding: 0 0 1em;
}

/* Menu "Pages" */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: -16em;
  width: 10em;
  padding: 2em;
}
header a {
  color: inherit;
  text-decoration: none;
}
header li {
  font-size: 1.5em;
  line-height: 1.4;
}


header nav {
  margin-left: 11px;
}
header aside {
  margin-left: -5px;
}

header .active {
  background: white;
}
header a:hover,
header a:focus,
header .active a  {
    color: #f30!important;
}

/* Contenu principal */
.page section[role=main] {
  color: #000;
  max-width: 1100px;
  min-height: 200px;
}
section>h2 {
  padding: 0 0 1.5em;
}
section[role=main] h1,
section[role=main] aside {
  clear: both;
  position: fixed;
  background: rgba(255,255,255,0.95);
  top: 0;
  right: 0;
  box-sizing: border-box;
  left: 25%;
  text-align: center;

  min-height: 2em;

  font-family: Georgia;
  font-weight: normal;

  font-size: 2em;
  color: #f30;
}
.paginate-menu {
  font-size: 0.5em;
  padding: 0;
}

.paginate-menu li {
  display: inline-block;
  color: #000;
}
#goto_next {
/*   position: absolute;
  right: 0; */
  float: right;
  padding-right: 1em;
}
#goto_prev {
/*   position: absolute;
  left: 0; */
  float: left;
}

section aside li {
  line-height: 4;
}
section aside a {
  padding: 0 0.5em;
  display: inline-block;
  color: black;
}

.list-item {
  overflow: hidden;
  padding-bottom: 2em;
}
.list-item figure {
  float: left;
  max-width: 500px;
  width: 40%;
  padding: 1em 1em 1em 0;
}
.list-item figure img {
  width: 100%;
  display: block;
}
#article-content h2 {
  font-size: 1em;
  padding: 1.5em 0 0.5em;
  line-height: 1.25;
}
#article-content article {
  margin-top: 2em;
}
#article-content figure {
  overflow: hidden;
  padding: 0 0 2em;
}
#article-content figure img {
  display: block;
  float: left;
}
article h2 {
  padding: 0 0 0.75em;
  text-transform: capitalize;
}
/* #disqus_thread {
  margin: 2em 0 0;
  max-width: 800px;
} */

/* Footer */


footer .bloc{
  padding-bottom: 2em;
}
.copyright {
  font-size: 0.9em;
}
.copyright li {
  display: inline-block;
}
footer a {
  color: #666;
}
footer h2 {
  color: #ddd;
}
footer p {
  clear: both;
}


@media screen and (max-width: 1000px) {

  .page {
    margin: 0;
    padding-top: 0;
    padding-right: 2em;
  }
  header,
  section[role=main] h1,
  section[role=main] aside {
    position: static;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  section[role=main] h1,
  section[role=main] aside {
    margin: 0 0 1em;
  }

  header {
    padding: 2em 0 1em 80px;
    text-align: right;
    box-sizing: border-box;
  }
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.25em 1em;
    background: white;
  }
  .page-number {
    margin: 0;
  }
  header nav,
  header aside,
  header li {
    display: inline-block;
  }
  header li {
    padding-left: 0.5em;
  }
/*   header nav li:last-of-type a:after,
  header aside a:after {
    content: ' ';
    display: inline-block;
    padding: 0 0.4em;
    font-size: 2em;
    color: #ccc;
  }
  header li:last-of-type a:after {
    display: none;
  } */

/*   #article-content h2,
  .page-number {
    padding-top: 2em;
    display: inline-block;
  } */
  section[role=main] {
    padding-top: 0;
  }
  section[role=main] h1,
  section[role=main] aside {
    left: 0;
  }

  .list-item figure {
    float: none;
    width: auto;
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 1em;
  }

  .list-item figure img{
    margin-top: -60px;
  }
  .list-item p {
    width: auto;
  }

  footer {
    background: url(../images/pixel.png);
    margin: 3em -2em 0;
    padding: 2em;
  }

  footer .bloc,
  .copyright {
    background: rgba(255, 255, 255, 0.5);
  }

  footer .bloc {
    padding: 1em 2em;
    margin: 0 0 2em;
  }

  footer h2,
  .copyright {
    color: black;
  }
  .copyright {
    padding: 1em;
  }

}
@media screen and (min-width:1300px) {
  #article-content article {
    width: 50%;
  }
  section[role=main] h1,
  #article-content aside {
    right: 40%
  }
  #article-content figure {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    width: 40%;
    padding: 6em 2em;
    box-sizing: border-box;
    overflow: auto;
    background: url(../images/pixel.png);
  }
  #article-content figure img {
    width: 50%;
    box-sizing: border-box;
    border: solid 1em white;
    margin-right: -0.5em;
    margin-bottom: -0.5em;
  }
  footer {
    width: 50%;
  }
}