@charset "utf-8";

body {
  font-family: 'Source Sans Pro';
  line-height: 1.7;
  color: #aaa;
  min-width: 500px;
/* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjMiIGZpbGw9IiNmMzAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMSIgZmlsbD0iI2YzMCI+PC9yZWN0Pgo8IS0tcGF0aCBkPSdNMCA1TDUgMFpNNiA0TDQgNlpNLTEgMUwxIC0xWicgc3Ryb2tlPScjZmZmJyBzdHJva2Utd2lkdGg9JzInLy0tPgo8L3N2Zz4="); */

}
a {
  color: #f30;
}
a:hover {
  color: red;
}
a:active {
  color: orange;
}
header,
aside,
footer {
  color: #888;
}
.page {
  text-align: left;
  position: relative;
  min-width: 900px;
  background: white;
}
/* Logo */
#logo {
  font-family: Georgia;
  display: inline-block;
  color: #f30;
  font-size: 3em;
  line-height: 0.6;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  text-indent: 5px;
  margin-top: -6px;
}
/* #logo:after {
  content: "..";
  position: absolute;
  left: 25px;
  top: -24px;
} */

h1,
h2,
h3,
h4,
nav a {
  font-family: Georgia;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
}
.list-container {
  padding: 0;
}
.list-item {
  list-style: none;
}

/* Menu "Pages" */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;
  z-index: 100;
}
header a:hover,
header a:focus,
header .active a  {
  color: #f30!important;
}
header a {
  color: inherit;
  text-decoration: none;
  color: black;
}
header li {
  font-size: 1.2em;
  line-height: 1.4;
}
#main-menu {
  overflow: hidden;
}
#share-menu {
  margin: -1em 2em 0;
  padding: 0;
}
.dropdown-menu {
  margin: 0;
  padding: 2em;
  display: block;
  background: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
.dropdown-menu li {
  position: relative;
  list-style: none;
}
.dropdown-menu>li>a {
  display: inline-block;
  padding: 0;
}
.dropdown-menu>li>a:hover {
  background: white;
  text-decoration: underline;
}
aside .btn {
  display: none;
}

/* Contenu principal */
section[role=main] {
  color: #000;
  overflow: auto;
  min-height: 500px;
  text-align: right;
}
section>h2 {
  padding: 0 0 1.5em;
}
section[role=main] aside {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 150px;
  right: 150px;
  text-align: center;
}

.paginate-menu {
  padding: 0;
  margin: 0;
}
.paginate-menu li {
  display: block;
  color: #000;
  position: absolute;
  top: 20px;
}
#goto_next {
  right: 0;
}
#goto_prev {
  left: 0;
}
section aside a {
  display: inline;
  color: black;
}
.page-content {
  padding-top: 140px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  min-height: 500px;
}
.page-content article{
  max-width: 800px;
  margin: 0 auto;
}
.page-content article{
  min-height: 400px;
  padding-bottom: 100px;
}
#home-content {
  padding: 100px 0;
}
.list-container {
  text-align: center;
}
/* Hide top text*/
.list-container aside:before,
.page-content:before {
  content: "";
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  pointer-events: none;
  background-image: linear-gradient(bottom, rgba(255,255,255, 0) 25%, rgb(255,255,255) 50%);
  background-image: -o-linear-gradient(bottom, rgba(255,255,255, 0) 25%, rgb(255,255,255) 75%);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255, 0) 25%, rgb(255,255,255) 75%);
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255, 0) 25%, rgb(255,255,255) 75%);
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255, 0) 25%, rgb(255,255,255) 75%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgba(255,255,255, 0)),
    color-stop(0.75, rgb(255,255,255))
  );
}
#blog-content:before {
  display: none;
}

/* Pages de liste */
.page-number,
.page-content h2,
section[role=main] h1 {
  margin: 15px 174px 0.5em;
  font-size: 1.8em;
  line-height: 1.25;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  color: #f30;
  display: inline-block;
  position: relative;
}

#logo,
.page-number,
header aside a,
.paginate-menu li,
.page-content h2 span,
section[role=main] h1 {
  background: white
}

.page-number,
.paginate-menu li,
.page-content h2,
section[role=main] h1 {
  z-index: 3;
}


.wall {
  overflow: hidden;
  margin: auto;
}
.wall.load img {
  visibility: hidden;
}

.wall>div {
  overflow: hidden;
  display: block;
  float: left;
}
.image {
  position: relative;
}
.image a {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  visibility: hidden;
}
article:hover a,
.image:hover a {
  visibility: visible;
}
.clickable {
  cursor: pointer;
}
[data-type=gallery] {
  position: relative;
  overflow: auto;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
[data-type=gallery] h2 {
  padding: 0;
  font-size: 1em;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  border: 0;
  color: white;
  margin: 1em;
  text-align: right;
}
[data-type=gallery] h2 a,
[data-type=gallery] h2 span {
  background: rgba(0,0,0,1);
}
[data-type=gallery] h2 a:hover {
  color: #f30;
}
[data-type=gallery] article {
  position: relative;
  width: 500px;
  height: 500px;
  float: left;
  padding: 0;
  overflow: hidden;
}
#blog-content aside:before {
  display: none;
}
#tag-content,
#blog-content {
  overflow: auto;
  background-color: black;
}

/* Page Detail */
article {
  font-size: 18px;
  line-height: 1.6;

  text-align: left;
}
article h2 {
  text-transform: capitalize;
}
article.first h2 {
  padding: 0 0 0.5em;
}
article.first .content {
  max-height: 100%;
}
article .content {
  max-height: 11em;
  overflow: hidden;
  padding-right: 2em;
}
.date {
  display: block;
  font-size: 0.75em;
}

/* Mur d'images */
.page-content figure {
  overflow: auto;
  padding: 0;
  background: black;
  position: relative;
  z-index: 2;
}

/* Footer */
footer {
  background: rgba(255,255,255,0.8);
  color: black;
  padding: 0.5em 1em;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 12;
}
.copyright {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}
.copyright li {
  display: inline-block;
}
footer a {
  color: #666;
}
footer h2 {
  color: #ddd;
}
footer p {
  clear: both;
}


.fb-like iframe .pluginCountBox,
.fb-like iframe .pluginCountBoxNub {
  display: none!important;
}

/* =tablet ------------------------------------------------------------------ */
@media screen and (max-width: 1024px) {

  .page {
    margin: 0;
    padding-top: 0;
  }
  header aside {
    padding: 0;
    right: 0;
    position: fixed;
    top: 0;
  }

  .page {
    min-height: 80%;
  }
  .page-content,
  section[role=main] {
    min-height: auto;
  }
  section[role=main] aside {
    left: 0;
    right: 42px; /* #main-menu Width */
  }
  .paginate-menu {
    float: right;
  }
  .paginate-menu li {
    position: static;
    display: block;
    background: #f30;
    margin-left: 1px;
    width: 42px;
    font-size: 3em;
    text-decoration: none;
    float: left;
    height: 42px;
    line-height: 33px;
  }
  .paginate-menu a {
    color: white;
  }
  .paginate-menu span{
    display: none;
  }

  .list-container aside:before,
  .page-content:before,
  #blog-content:before {
    height: 200px;
  }

  .page-content article {
    margin: 2em 5em;
    min-height: auto;
    padding: 80px 0;
  }
  .page-content {
    padding-top: 0;
  }
  .page-content h2 {
    margin: 0.5em 4em;
    max-height: 62px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
  }
  #blog-content h2 {
    top: 10%;
  }

  /* Menu Rubriques */
  header .btn-navbar {
    background: #f30;
    color: white;
    z-index: 10;
    font-size: 2em;
    cursor: pointer;
    border-radius: 0;
    display: block;
    padding: 0 0.25em;
  }
  header .btn-navbar,
  header .btn-navbar:focus {
    outline: none;
  }
  header .btn-navbar:before {
    content: "\2630";
  }

  #share-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 1em 1em;
    margin: 0;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    background: #f30;
    padding: 0.5em 0 1em;
    border-radius: 0;
    margin: 0;
    display: none;
  }

  .open .btn,
  .open .dropdown-menu {
    background: rgba(255, 110, 0, 0.8);
  }
  .open .dropdown-menu {
    display: block;
    position: absolute;
  }
  .dropdown-menu>li>a {
    background: none;
    color: white;
    padding: 0.25em 1em;
    display: block;
  }
  .dropdown-menu>li>a:hover {
    background: white;
    color: #f30;
  }
}
/* =mobile ------------------------------------------------------------------ */
@media screen and (max-width: 730px) {
  .page {
    min-width: 100%;
  }

  .wall img{
    width: 100%;
  }

  #blog-content article {
    float: none;
    margin: 0 auto;
    width: auto!important;
  }
  .page-content figure {
    background: none;
  }
}

/* =wide_screens ------------------------------------------------------------ */
@media screen and (min-width: 1160px){ /* WIDE SCREENS */
}
