

<% if article %>
<aside>
	<ul class="paginate-menu">
		<% if article.previous_article %>
		<li id="goto_prev"><%= link_to '&laquo; ' + article.previous_article.title, article.previous_article %></li>
		<% end %>

		<% if article.next_article %>
		<li id="goto_next"><%= link_to article.next_article.title + " &raquo;", article.next_article %></li>
		<% end %>
		</ul>
</aside>
<% end %>
