
<% if paginate %>
<aside>
	<ul class="paginate-menu">
		<li id="goto_prev"><% if prev_page %><%= link_to '&laquo; page précédente', prev_page %><% else %>&laquo; page précédente<% end %></li>
		<li><%= page_number %> sur <%= num_pages %></li>
		<li id="goto_next"><% if next_page %><%= link_to 'page suivante &raquo;', next_page %><% else %>page suivante &raquo;<% end %></li>
	</ul>
</aside>
<% end %>