<footer>
	<ul>
		<li><a href="https://twitter.com/no_way" target="blank" class="icon-twitter icon"><span>Twitter</span></a></li>
		<li><a href="http://www.facebook.com/noelie.andrieu" target="blank" class="icon-facebook icon"><span>Facebook</span></a></li>
		<li><a href="http://www.lastfm.fr/user/noelieamiot" target="blank" class="icon-lastfm icon"><span>LastFM</span></a></li>
		<li><a href="http://fr.linkedin.com/pub/no%C3%ABlie-amiot/4/a21/443" target="blank" class="icon-linkedin icon"><span>LinkedIN</span></a></li>
		<li><a href="" target="blank" class="icon-feed icon"><span>RSS</span></a></li>
	</ul>
	<ul class="copyright">
		<li>© 2010-2013</li>
		<li><strong>No Way</strong>, </li>
		<li>Noëlie <strike>Amiot</strike> Andrieu <span class="email">noelieandrieu[AT]gmail[DOT]fr</span></li>
	</ul>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=643343479024047";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
