
<header>
	<nav>
		<a href="/" id="logo">
			no<br />way
		</a>
	</nav>

	<aside>
		<div id="main-menu">
			<button type="button" class="btn btn-navbar" data-toggle="dropdown"></button>
			<ol class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="/">Accueil</a></li>
				<% blog.tags.each do |tag, articles| %>
					<li class="tag-name"><%= link_to tag, tag_path(tag) %></a></li>
				<% end %>
			</ol>
		</div>



		<ul id="share-menu">
			<li class="list-item">
			<div class="fb-like" expr:data-href="data:post.canonicalUrl" data-layout="button_count" data-action="like" data-width="300" data-show_faces="false"/></li>
			<li class="list-item"><a href="https://twitter.com/share" class="twitter-share-button" data-related="no_way" data-lang="fr">Tweet</a></li>
		</ul>
	</aside>
</header>
