---
pageable: true
per_page: 2
---
<div id="home-content">

  <article class="first">
    <h2><a href="/blog/2013-03-27-jdhgsvbsjksk/">jdhgsvbsjksk</a> <span>27.03.13</span></h2>
    <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
    <div class="content"><p>Etiam nec sodales nunc. Maecenas ac elit nisi. Proin nec dolor vitae velit porta ullamcorper non nec massa. Nulla feugiat dui orci. Proin gravida placerat nisi viverra placerat. Quisque lacinia neque non eros condimentum sed imperdiet lorem molestie. Sed dui erat, vestibulum vel adipiscing eget, aliquam nec orci. Integer vitae magna id mi sagittis tincidunt. Quisque ac ipsum est, ac tincidunt libero. Praesent sed felis elit. In euismod tincidunt dignissim. In malesuada libero sed dolor molestie hendrerit. In hac habitasse platea dictumst. Donec fermentum semper vehicula. Suspendisse molestie lacinia quam in euismod. Suspendisse ac massa eget tellus congue vestibulum ut sed urna.
  </p></div></article>

  <% page_articles.each_with_index do |article, i| %>

      <article>
        <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%d.%m.%y') %></span></h2>
        <!-- use article.summary(250) if you have Nokogiri available to show just
             the first 250 characters -->
        <div class="content"><%= article.summary %></div>
      </article>

  <% end %>
</div>