<div id="tag-content">
  <aside>
    <h1><%= tagname %></h1>
  </aside>
  <div data-type="gallery" data-fill="height">
  <% page_articles.each_with_index do |article, i| %>
      <article>
        <h2><%= link_to article.title, article %><br /><span><%= article.date.strftime('%d.%m.%y') %></span></h2>
        <figure>
          <img src="<%= article.data.pictures[0] %>" />
        </figure>
      </article>
  <% end %>
  </div>
</div>